* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "nb";
}
@font-face {
    font-family: nb;
    src: url(/NB.ttf);
}
@font-face {
    font-family: re;
    src: url(/Rejouice.ttf);
}
html, body{
height: 100%;
width: 100%;
}


#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #000000b3;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h5{
    color: #fff;
    font-family: re;
    font-weight: 100;
    
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    position: relative;
    z-index: 10;
    padding-bottom: 4vh;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8vw 2.8vw;
    
}
nav h3{
    font-size: 1.4vw;
    font-weight: 450;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 450;
}
#page1-content h1{
    /* top: -200px; */
    font-family: re;
    font-weight: 100;
    font-size: 27vw;
    line-height: 15.5vw;
    overflow: hidden;
    /* background-color: red; */
}
#page1-content h1 span{
    font-family: re;
    /* letter-spacing: -89px; */
}


#page2{
    height: 100vh;
    width: 100%;
    background: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p2_center{
    height: 100%;
    width: 93%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
#head{
    height: 17.5vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: end;
    justify-content: space-between;
}
#head h2{
    font-size: 1.7vw;
    font-weight: 100;
    padding-bottom: 2.5vh;
    color: #0E0E0E;
    overflow: hidden;
}
#head h3{
    font-size: 1.7vw;
    font-weight: 100;
    padding-bottom: 2.5vh;
    color: #0E0E0E;
    overflow: hidden;
}
#line{
    height: 1px;
    width: 100%;
    background-color: black;
}
#p2_text{
    height: 50vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    /* background-color: aqua; */
}
#p2_text h1{
    font-size: 4vw;
    font-weight: 100;
    /* padding: 2vh; */
    overflow: hidden;
    line-height: 5vw;
}
.elemText{
    /* position: fixed; */
    overflow: hidden;
    /* background-color: red; */
}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#p3_top{
    height: 45vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#p3_top h5{
    font-size: 1.1vw;
    font-weight: 500;
    padding: 2vh;
    overflow: hidden;
}
#p3_top span{
    font-size: 0.7vw;
    background-color: black;
    color: #fff;
    padding: 4px 8px;
    border-radius: 20px;
}
#p3_top h1{
    font-size: 4vw;
    font-weight: 100;
    line-height: 9.8vh;
}
.elemText3{
    overflow: hidden;
}
#p3_bottom{
    height: 100vh;
    width: 92.5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#p3_text{
    height: 8vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#p3_text h4{
    font-size: 3.3vh;
    font-weight: 500;
}
#p3_card{
    height: 80vh;
    width: 100%;
    /* background-color: rgb(5, 5, 5); */
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: space-between;
}
.card{
    height: 100%;
    width: 32%;
    background-color: yellow;
    position: relative;
}
.card img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease 0.5s;
}
.card:hover img{
    opacity: 0;
}
.hover-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}


#page4{
    height: 100vh;
    width: 100%;
    background: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p4_center{
    height: 100%;
    width: 93%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
#head4{
    height: 17.5vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    
}
#head4 h2{
    font-size: 1.7vw;
    font-weight: 100;
    /* padding-bottom: 2.5vh; */
    color: #0E0E0E;
    overflow: hidden;
}
#head4 h3{
    font-size: 1.7vw;
    font-weight: 100;
    padding-bottom: 2.5vh;
    color: #0E0E0E;
    overflow: hidden;
}
#line4{
    height: 1px;
    width: 100%;
    background-color: black;
}
#p4_text{
    height: 50vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    /* background-color: aqua; */
}
#p4_text h1{
    font-size: 4vw;
    font-weight: 100;
    /* padding: 2vh; */
    overflow: hidden;
    line-height: 5vw;
}
.elemText4{
    overflow: hidden;

}


#page5{
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#extra{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #00000000;
    z-index: 3;
}
#p5_text{
    height: 10vh;
    width: 8.5%;
    /* z-index: 5; */
    position: absolute;
    /* background-color: red; */
    display: flex;
    align-items: centre;
    justify-content: centre;
    flex-direction: column;
}
#p5_text h2{
    font-size: 5.3vh;
    font-weight: 100;
    color: #fff;
}
#p5_text h4{
    color: #fff;
    font-weight: 100;
}
#page5 video{
    height: 100%;
}
.container{
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container svg{
    position: absolute;
    height:58%;
    z-index: 2;
}
.container object{
    position: absolute;
    height:70%;
    /* width: 0%; */
    object-fit: cover;
    z-index: 1;
}
#p5_cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #000000fe;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#p5_cursor h5{
    color: #fff;
    font-family: re;
    font-weight: 100;
    
}


#page6{
    height: 100vh;
    width: 100%;
    background: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p6_center{
    height: 100%;
    width: 93%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
#head6{
    height: 17.5vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    
}
#head6 h2{
    font-size: 1.7vw;
    font-weight: 100;
    /* padding-bottom: 2.5vh; */
    color: #0E0E0E;
    overflow: hidden;
}
#head6 h3{
    font-size: 1.7vw;
    font-weight: 100;
    padding-bottom: 2.5vh;
    color: #0E0E0E;
    overflow: hidden;
}
#line6{
    height: 1px;
    width: 100%;
    background-color: black;
}
#p6_text{
    height: 50vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    /* background-color: aqua; */
}
#p6_text h1{
    font-size: 4vw;
    font-weight: 100;
    /* padding: 2vh; */
    overflow: hidden;
    line-height: 5vw;
}
.elemText6{
    overflow: hidden;

}


